/* CSS Reset */
* {
    margin: 0;
    padding: 0;
	/* to fix the way Safari 14+ reads certain Google Fonts incorrectly */
	-webkit-locale: auto;
  	white-space: normal;
}

html {
	font-size: 100.01%;
}
/* End CSS Reset */

body {
	background-image: url(/images/bryan-minear-317365.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #dcf0fb;
	font-family: 'Barlow', sans-serif;
	font-size: 0.75em;
	font-weight: normal;
	line-height: 1.5;
	min-height: 100vh;
	overflow-x: hidden;
}

/* nav styles using Flexbox (screens greater than 899px) */
/* Logo Styling */

.about-header {
	background: rgba(68,0,108, 0.5);
}

.about-header .logo {
	padding-top: 0.25rem;
}

.logo {
	height: 97.5%;
	max-height: 200px;
	max-width: 150px;
	position: relative;
    text-align: center;
    text-decoration: none;
	top: 0.75rem;
	width: 97.5%;
}

.brand {
	height: auto;
	margin-top: 0.25rem;
	max-width: 7.9688rem;
	width: 97.5%;
}

/* End Header Logo Styling */

/* nav styles using Flexbox (screens greater than 899px) */
.navbar {
	background: transparent;
	display: flex;
	align-items: center;
	height: 70px;
    justify-content: space-between;
    padding-bottom: 0;
	width: 100vw;
}

.main-nav {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.5rem;
	margin-right: 1rem;
	margin-top: 2rem;
	width: 100vw;
}

li {
    font-size: 2.75vh;
    list-style-type: none;
    margin: 0.5vw;
}

a {
    color: #b4a8d9;
    cursor: pointer;
    padding: 2.25vw;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

.hamburger {
    display: none;
}

main h1 {
	color: #44006c;
	font-size: 3.5em;
	font-weight: normal;
	line-height: 2;
	margin-top: 5rem;
	text-align: center;
}

/* Quote Cloud */

.quote-container {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 50vh;
	justify-content: center;
	margin: 0 auto;
	padding: 0 1.5rem;
	width: 75%;
}

.quote-cloud {
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

blockquote {
	font-size: 1rem;
}

@media (min-width: 600px) {

	h1 {
		font-size: 3.5rem;
	}

	h2 {
		font-size: 2.5rem;
	}

    blockquote {
        font-size: 2rem;
	}
}

@media (max-width: 640px) and (max-height: 360px) {
    h2, blockquote {
        font-size: 1.3rem;
	}
}

/* End nav styles using Flexbox (screens greater than 899px) */

/* media query for site navigation for screens smaller than 900px */
@media (max-width: 899px) {

	.brand {
		height: auto;
		margin-top: -0.25rem;
		margin-left: 0.5rem;
		max-width: 7.9688rem;
		width: 100%;
	}

    li {
        margin: 0 0 0 1.25rem;
    }

    a {
		color: #44006c;
        display: block;
    }

    /* Responsive Hamburger menu styling */
    .hamburger {
        background-color: transparent;
        /* show the hamburger menu image */
        background-image: url("https://ljc-dev.github.io/testing0/ham.svg");
        background-size: 100%;
        border: none;
        cursor: pointer;
        display: block;
        height: 36px;
        position: absolute;
        right: 20px;
        top: 20px;
        width: 36px;
        /* always keep ham on top of everything */
        z-index: 1000;
    }

    /* change hamburger image to close */
    .showClose {
        background-image: url("https://ljc-dev.github.io/testing0/ham-close.svg");
        background-size: 100%;
    }

    .main-nav {
        background: #90ac71;
		display: block;
        height: 100vh;
        left: 0;
		margin-top: 0;
		padding-top: 5rem;
        position: absolute;
        top: 0;
        /* hide the menu above the screen by default */
        transform: translateY(-100%);
        /* transition adds a little animation when sliding in and out the menu */
        transition: transform 0.2s ease;
        width: 100vw;
		/* needed for me because of my intro box in index.html.
		Otherwise navigation backgrop would be behind the intro box when opened */
		z-index: 10;
    }

    .showNav {
        /* show the menu */
        transform: translateY(0);
    }

	main h1 {
		margin-top: 0;
	}
}

/* End media query for site navigation for screens smaller than 900px */

/* Site Footer  Styling */
.site-credits {
	color: #b4a8d9;
	text-align: center;
}

/* Sticky Footer Styling */

body {
    display: flex;
    flex-direction: column;
}

.Site-content {
    flex: 1 0 auto;
}

.site-credits {
    flex-shrink: 0;
    font-size: 1.5rem;
}

/* End Sticky Footer Syling */
